.icon-next-small-button-blue{
    background-image: url(/static/media/icon-next-button.3f0cbaa1.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 10px;
    padding: 8px 65px;
}
.progress-form{
    position: relative;
    width: 312;
    height: 48px;
    color: rgba(0, 0, 0, 0.54);
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.container-progress{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px 0px;
}

.item-left {
    order: 1;
    flex-grow: 1;
    background-position: right;
}
.item-center {
    order: 2;
    flex-grow: 3;
    margin: 0 auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}
.item-right {
    order: 3;
    flex-grow: 1;
    background-position: left;
}
.icon-left{
    background-image: url(../../assets/icons/left.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    color: #373737
}
.icon-right{
    background-image: url(../../assets/icons/right.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    color: #373737
}
