.wrapper-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95.04px;
}
.h1-tittle-Home{
    font-family: 'Raleway', sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.15px;
    color: #000000;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 10px;
    padding: 0 !important;
}
.h1-tittle-box{
    margin-top: 24px;
    margin-left: 24px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 20.8px;
    color: #000000;
}
.h1-tittle-carousel{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.15px;
    color: #000000;
    padding-top: 20px;
    margin-left: 24px;
    margin-right: 12px;
    }
.h1-text-ilustracion-box{
    margin-top: 24px;
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #000000;
    margin-left: 24px;
}
.text-box-one{
    font-family:  'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #000000;
    margin-left: 12px;
    text-align: left;
    display: flex;
    margin-top: 12px;
    letter-spacing: 0.25px;
    width: 132px;
    height: 54px;
}
.text-box-two{
    font-family: 'Museo Sans';
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 1.25px;
    color: #000000 !important;
    padding: 10px 0px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 0px !important;
    margin-top:0px !important;
}
.text-box-three{
    font-family: 'Museo Sans';
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 1.25px;
    color: #000000;
    /* margin-left: 0!important; */
    margin-right: 0px;
    display: flex;
}
.box-container-title{
    /* background: #F7F7F7; */
    border-radius: 8px;
    height: 207px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 12px;
}
.box-container-title-two{
    margin-top: 24px;
    background:  #1db2ed;
    height: 370px;
}
.box-container-title-three{
    margin-top: 24px;
    margin-bottom: 216px;
    background:  #1db2ed;
    height: 245px;
}
.box-container-align-two{
    margin-top: 10px;
    padding: 10px 0px;
}
.btn-operativa{
    background: #1db2ed;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 0px;
    width: 134px;
    padding: 5px 0px;
    margin-top: 16px;
    margin-left: 12px;
    margin-right: 0px;
}
.btn-ilustracion-operativa {
    background: #000000;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 0px;
    width: 134px;
    padding: 5px 0px;
    margin-top: 16px;
    margin-left: 12px;
}
.icon-image-conexion{
    width: 133px;
    margin: 0 auto;
    margin-top: 12px;
    /* margin-left: 12px; */
    /* margin-right: 12px; */
    padding: 0px;
    justify-content: center;
    display: flex;
}
.icon-image-logo{
    width: 170px;
    margin: 0 auto;
    margin-top: 18px;
    /* margin-left: 12px; */
    /* margin-right: 12px; */
    padding: 0px;
    justify-content: center;
    display: flex;
}

.icon-image-rubros{
    width: 80px;
    height: 80px;
    margin:0 auto;
    border-radius: 11px;
}
.text-icon-rubros{
    width: 80px;
    font-family: 'Museo Sans';
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #373737;
    margin: 0 auto;
}
.box-container-align{
    margin-left: 24px;
    text-align: center;
}
.box-container-align-rubros{
    padding-left: 24px;
    padding-right: 24px;
}
.container-icons-group{
    margin-top: 0px
}
.h-slide-custom {
    min-height: 242px !important;
}
.img-slite-custom{
    width: 110px !important; 
    margin: 0 auto;
    height: auto !important;
    padding: 15px 0 !important;
}
@media only screen and (max-width: 768px) {
    .hide-sm {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .hide-sm {
        display: block;
    }

    .box-container-title{
        background: #FFFFFF;
    }
    .h1-tittle-Home{
        font-size: 32px;
        margin-left: 32px;
    }
    .text-box-one {
        width: auto;
        height: auto;
    }
    .icon-image-conexion {
        width: 255px;
        margin: 0;
        margin-top: 37px;
        /* margin-left: 20px; */
        margin-right: 0;
        position: absolute;
        top: -50%;
    }
    .text-box-one, .text-box-two, .text-box-three{
        font-size: 18px;
    }
    .h1-tittle-box, .h1-tittle-carousel{
        font-size: 24px;
        margin-top: 32px;
        padding-top: 0px;
    }
    .h1-text-ilustracion-box{
        font-size: 25.8px;
        margin-top: 32px;
    }
    .icon-ilustracion{
        width: 200px;
        
    }
    .btn-ilustracion-operativa{
        margin-top: 36px;
    }

    .icon-image-rubros{
        width: 65px;
        height: 65px;
    }
    .box-container-title-two {
        margin-top: 45px;
        height: 347px;
    }
    .h-slide-custom{
        min-height: 255px !important;
    }
    .btn-ilustracion-operativa {
        margin-top: 10px;
        margin-left: 32px;
    }

    .text-icon-rubros{
        font-size: 12px;
        text-align: center;
        width: 67px;
        margin-bottom: 10px;
    }
    .box-container-title-two{
        height: 240px;
    }
    .text-box-three{
        margin-left: 32px;
        width: 142px;
    }
}
@media only screen and (min-width: 800px) {
    .icon-image-rubros{
        width: 75px;
        height: 75px;
    }
    
    .text-icon-rubros{
        font-size: 12px;
    }

    .icon-ilustracion{
        width: 210px;
        
    }

    .box-container-title-two{
        height: 280px;
    }
}
@media only screen and (min-width: 920px) {
    .icon-image-rubros{
        width: 85px;
        height: 85px;
    }
    .icon-ilustracion{
        width: 222px;
        
    }
}
@media only screen and (min-width: 1200px) {
    .btn-ilustracion-operativa{
        margin-top: 15px;
        padding: 12px;
    }
    .text-box-three{
        width: 142px;
    }
    .icon-image-rubros{
        width: 125px;
        height: 125px;
    }

    .box-container-title-two{
        height: 365px;
    }
    .box-container-title-three{
        height: 300px;
    }
    .btn-operativa{
        padding: 12px;
    }
}

@media only screen and (min-width: 1400px) {
    .btn-ilustracion-operativa{
        margin-top: 15px;
    }
    .text-box-three{
        width: 142px;
    }
}
