body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container-no-padding{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.container-padding{
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.row-no-magin {
  margin-right: 0;
  margin-left: 0;
}
.m-nav {
  margin-top: 100px;
}
.m-nav-form {
    margin-top: 80px;
}
.mt-stepper{
  margin-top: 30px;
  margin-bottom: 30px;
}
.padding-container {
  padding-right: 24px !important;
  padding-left: 24px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-datepicker__input-container {
  position: absoluta !important;
  display: inline-block;
  width: 100%;
}

/* Forms */
.h1-custom {
  position: static;
  /* width: 312px; */
  height: 62px;
  margin-top: 118px;
  margin-left: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.h1-custom-inicio-sesion {
  position: static;
  /* width: 312px; */
  /* height: 62px; */
  margin-top: 118px;
  margin-left: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.h1-custom-registro {
  position: static;
  /* width: 312px; */
  /* height: 62px; */
  margin-top: 118px;
  margin-left: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.style-modal{
  text-align: justify;
font-family: MuseoSans;
font-size: 14px;
line-height: 130%;
display: flex;
align-items: center;
letter-spacing: 0.25px;
color: #000000;
}
.h1-custom-restore{
  position: static;
  /* width: 312px; */
  height: 62px;
  margin-top: 178px;
  margin-left: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  align-items: center;
}
.h1-custom-init {
  position: static;
  width: 312px;
  height: 62px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  justify-content: center;
  margin-top: 128px;
}
.h1-custom-notification{
  /* position: static; */
  /* width: 301px; */
  height: 93px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  justify-content: center;
  margin-top: 244px;
  align-items: center;
}
.h1-title-form {
  /* position: absolute; */
  /* width: 312px; */
  height: 84px;
  margin-top:37px;
  left: 24px;
  /* mtop: 112px; */
  /* Heading 1 */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  /* or 42px */
  text-transform: uppercase;
  /* darker-gray */
  color: #373737;
  margin-bottom:0;  
}
.h1-form{
  position: absolute;
  /* width: 312px; */
  /* height: 37px; */
  left: 24px;
  margin-top: 12px;
  /* Heading 1 */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
 /* Inside Auto Layout */
 flex: none;
 order: 0;
 align-self: flex-start;
}
.form-container{
  margin-top: 40px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.form-container-components{
  margin-top: 0px;
}
.form-container-select{
  margin-top: -40px;
}

.label-form{
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  width: 100%!important;
  height: 53px;
  color: #979797;
  text-align: left;

}

.label-form-2{
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 19px;
  width: 100%!important;
  color: #979797;
  text-align: left;

}
.input-container {
  position: absoluta !important;
  display: inline-block;
  width: 100%;
}
.input-container-select{
  position: absoluta !important;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.label-form-calen{
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  height: 48px;
  top: 23px;
  border: 0.5px solid #AAAAAA;
  box-sizing: border-box;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #979797;
  position: absoluta !important;
  width: 100% !important;
}
.label-form-text{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  width: 100%;
  height: 19px;
  color: #979797;
  text-align: left;
}
.form-text-check{
  font-family: 'MuseoSans';
  font-size: 16px;
  line-height: 19px;
  color: #373737;
  display: flex;
  align-items: center;
}
.form-text-check-adress{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #979797;
}
.span-error{
  /* Hay un error */
position: static;
width: 250px;
height: 10px;
left: 0px;
top: 30px;
/* Helper-text */
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */
display: flex;
align-items: center;
color: #ED1D40;
}
.span-error-contraseña {
  position: static;
  width: 250px;
  height: 10px;
  left: 0px;
  top: 30px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 100%;
  display: contents;
  align-items: center;
  color: #ED1D40;
}
.span-error-box{
  /* Hay un error */
position: static;
width: 250px;
height: 10px;
left: 0px;
margin-top: 50px;
/* Helper-text */
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */
display: flex;
align-items: center;
color: #ED1D40;
}
.input-error:focus {
/* Hay un error */
position: static;
width: 250px;
height: 10px;
left: 0px;
top: 30px;
/* Helper-text */
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */
display: flex;
align-items: center;
color: #ED1D40;
}
.red-input:focus {
border-color: #ED1D40;
box-shadow: 2px 1px 1px 1px rgba(237,29,64,0.43);
-webkit-box-shadow: 2px 1px 1px 1px rgba(237,29,64,0.43);
-moz-box-shadow: 2px 1px 1px 1px rgba(237,29,64,0.43);
}
.border-error{
  border: 1px solid #ED1D40;
}
.placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  color: #979797;
}
.input-icono {
  background-image: url(./assets/icons/verification.png);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 26px;
}
.icono-usuario {
  /* background-image: url(./assets/icons/usuariopoke.svg); */
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 20px;
  width:41px;
  height:41px;
}
.icon-inicio-sesion{
  margin: 24px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 342px;
  height: 139px;
}
.icon-registro{
  margin: 24px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 131px;
}
.icon-olvidar-contraseña{
  margin: 9px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 102px;
  height: 123px;
}
.icon-calendar {
  background-image: url(./assets/icons/date.svg);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 32px;
}
.input-icoerror {
  background-image: url(./assets/icons/error.png);
  background-repeat: no-repeat;
  background-position: 98%;  
  background-size: 26px;
}
.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}
.container-buttons{
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
}
.container-buttons-continue{
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.container-buttons-form{
  margin-top: 36px;
  margin-bottom: 157px;
  display: flex;
  justify-content: space-between;
}
.btn-cancel-register{
  /*button/secondary*/position: static;
  width: 46%;
  height: 40px;
  margin-left: 0px;
  margin-top: 0px;
  border: 1px solid #979797;
  color: #B9B9BA;
  box-sizing: border-box;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cancel-pr{
  /*button/secondary*/min-width: 150px;
  height: 40px;
  border: 1px solid #979797;
  color: #B9B9BA;
  box-sizing: border-box;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 12px;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}
.btn-register{
  /* position: static; */
  width: 46%;
  height: 40px;
  /*primary*/background: #1db2ed;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-left: 8%;
  border-radius: 0px ;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}


.btn-login {
  /* position: static; */
  width: 48%;
  height: 40px;
  /*primary*/background: #1db2ed;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-left: 6%;
  border-radius: 0px !important ;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.button-sign-up {
  width: 100%;
  height: 40px;
  background: #ED1D40;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  padding: 12px 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: calc(90vh - 130px);
}
.button-continue{
  /* margin-top: 24px; */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
  text-transform: uppercase;
  color: #373737;
  /* margin: auto; */
}
.button-continue-restore{
  font-family: 'Raleway, sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color:#373737;
  margin-left: 0px !important;
  padding: 0px !important;
}
.button-continue-restore-notification{
  font-family: 'Raleway, sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #373737 !important;
  margin-left: 0px !important;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.button-continue-restore-notification:focus{
  outline: transparent;
  box-shadow: 0 0 0 0 transparent;
}.button-continue-restore-notification:focus{
  outline: transparent;
  box-shadow: 0 0 0 0 transparent;
}

.text-button-continue-restore{
  margin-left: 0 !important;
  color: #373737;
}.text-button-continue-restore-inicio{
  margin-left: 0 !important;
  color: #FFFFFF;
}
.button-continue-notification{
  display: flex;
  justify-content: flex-end;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 48px;
}
.btn-cancel-form{
  /*button/secondary*/position: static;
  width: 46%;
  height: 40px;
  left: 0px;
  top: 0px;
  border: 1px solid #979797;
  color: #B9B9BA;
  box-sizing: border-box;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.icon-next{
    background-image: url(./assets/icons/icon-next.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 12px;
    padding: 8px 14px;
    color: #373737;
    margin-left: 0px !important;
}
.info-form{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 130%; 
  margin-left: 0 !important; 
}.info-form-term{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 130%; 
  margin-left: 4px; 
}
.space-spam-login-register{
  margin-top: 24px;
}

.terms-checkbox {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.box-style{
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 0%;
  height: 102px;
}
.text-experience{
  position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-decoration-line: underline;
text-transform: uppercase;
color: #46A9D4;
}
.icon-img-logo{
  display: flex !important;
  width: 187.36px !important;
  height: 65px !important;
  flex-direction: row !important;
  padding: 0px !important;
  margin-left: 18px !important;
  flex: none !important;
  order: 0 !important;
  align-self: center !important;
  /* margin-top: 12px!important; */
  float: left !important;
}
.icon-container{
  width: 187.36px;
  height: 48px;
  left: 0px;
  top: 1.52px;
}
.icon-container{
  width: 187.36px;
  height: 48px;
  left: 0px;
  top: 1.52px;
}

.icon-see-container{
  display: flex;
  justify-content: flex-end;
}
.see-pass
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
}
.space-icon-see{
  position: absolute !important;
  margin-left: 82% !important;
  margin-top: 1% !important;
  width: 22px !important;
  height: 22px !important;
  margin-right: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.text-form-academic{
  height: 38px;
  /* margin-left: 0px;
  margin-top: 40px; */
  font-family: 'MuseoSans';
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.desktop-car{
  display: block;
}
.mobile-car{
  display: none;
}
@media only screen and (min-width: 780px) {

  .container-buttons, .container-buttons-continue, .container-buttons-form{
    justify-content: flex-end;
  }
  .btn-register, .btn-cancel-register, .btn-login, .button-continue-restore,
  .btn-cancel-form {
    max-width: 148px;
    margin-left: 32px !important;
  }
  .m-nav {
    margin-top: 74px;
  }

  .container-radios {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 35px;
  }
  .form-text-check {
    line-height: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .px-xs-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media only screen and (min-width: 575px) {
  
}
@media only screen and (max-width: 738px) {
  .desktop-car{
    display: none;
  }
  .mobile-car{
    display: block;
  }
}